body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="file"]{
    width: 90%;
  }

  select{
    width: 100%;
  }
  
  input[type="file"],
  select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .logs,
  .download {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  pre {
    white-space: pre-wrap;
    font-family: monospace;
  }
.projectTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.submittedBy{
    height: 100%;
    padding: 3px 10px;
    color: gray;
    border-radius: 10px;
}
.submittedBy label{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submittedBy .person{
    margin-bottom: 10px;
}

.submittedBy .person h4, .submittedBy .person p{
    margin: 0px;
}

.submittedBy .person h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;

    font-size: 21px;
}